/*Font for headings*/
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:700);

body {
	background: url('src/bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

.page-header {
	background-color: rgba(255, 255, 255, 0.7);
	border-bottom-color: black;
	border-top: 1px solid white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Old Standard TT', serif;
}

#class .label {
	background-color: #2a2a2a;
	font-size: 100%;
}

table, .modal-content {
	text-transform: capitalize;
}

.modal-content {
	text-align: center;
}

.not-capital {
	text-transform: none;
}

.list-group-item {
	border: none;
}

dd .list-group-item {
	background-color: #2a2a2a;
	border: none;
	color: #eeeeee;
}

/* list-group horizontal
   https://gist.github.com/danielflippance/d6401c926b4fb2442e15 */
.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
}

/*position: sticky like*/
.affix {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/*Search bar small on !not small device*/
@media screen and (min-width: 320px) {
	.input-group {
		width: 320px;
		margin: 0 auto 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.modal-body {
		text-align: left;
	}
}


/*Firefox table-responsive hack*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
